<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./stylesheets/signin.css" rel="stylesheet">
	
	
	<script src="./javascripts/jquery-2.1.1.min.js"></script>
	<script src="./javascripts/bootstrap.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Cadastre-se</h1>

	<!-- LOGIN FORM -->
	<form action="/cadastrar" method="post">
		<div class="form-group">
			<label>Usuário</label>
			<input type="text" class="form-control" name="usuario">
		</div>
		
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>
		
		<div class="form-group">
			<label>Nome</label>
			<input type="text" class="form-control" name="nome">
		</div>
		
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		
		<button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
	</form>

	<hr>

	<p>Já possui uma conta? <a href="/">Login</a></p>

</div>

</div>

  </body>
</html>
