<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Mapas Disponíveis</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/mapas.css" rel="stylesheet">
    
    <script src="../javascripts/jquery-2.1.1.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script>
		function logout(){
			var href = location.origin + "/" + "logout";
			window.location = href;
		}
		function criarMapa(){
			var href = location.origin + "/" + "criarMapa";
			window.location = href;
		}
		
    </script>

  </head>

  <body>
	  
	  <div class="container">

		<div class="col-sm-6 col-sm-offset-3">
			<button type="button" id="logout" style="float:right" onclick="logout()">Sair</button>
			<h1><span class="fa fa-sign-in"></span> Mapas</h1>
			

			<!-- LOGIN FORM -->
			<form action="/abrir" method="post">
				
				<div class="col-lg-6">
					<div class="input-group">
						
						<!-- show any messages that come back with authentication -->
						<% for (var i=0; i < mensagem.length; i++) { %>
							<% var item = mensagem[i].idMapa +  " - " + mensagem[i].nomeMapa;%>
							
							
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios1" value="<%= mensagem[i].idMapa %>" required autofocus>
									<%= item %>
								</label>
							</div>
							
						<% } %>
						
					</div><!-- /input-group  -->
				</div><!-- /.col-lg-6 -->
				
				<button type="submit" class="btn btn-lg btn-primary btn-block">Abrir</button>
				<button id="criarMapaButton" type="button" class="btn btn-lg btn-primary btn-block" onclick="criarMapa();">Criar novo Mapa</button>
			</form>
			
		</div>

	</div>
	
	
	<div id="criarMapa" class="modal fade">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h4 class="modal-title">Criar novo mapa</h4>
		  </div>
		  <form method="post" action="/criarMapa" role="form">
		  <div class="modal-body">
				<p>Nome:</p>
				<input name="nomeMapa" type="text" class="form-control" required autofocus>
			
		  </div>
		  <div class="modal-footer">
		  	<button type="submit" id="submit" class="btn btn-primary">Criar</button>
			<button data-dismiss="modal" id="cancel" class="btn btn-default">Cancelar</button>
		  </div>
		  </form>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	  
	  
	
  </body>

</html>
