#modal {
  /*a janela modal fica fixa num soh lugar da tela, ela acompanha o scroll*/
  width:440px;
  height:200px;
  display:none;
  background:white;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

#lean_overlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.bottom-space{
	margin-bottom: 3px;

}
